
{{#if posts.length}} <!--if there's a nonzero amount of posts, render each of them.-->
<section>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
      {{> dashboardPostInfo post}}
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn link-color"><a class="link" href="/dashboard/new">+ New Post</a></button>

<script src="/js/addPost.js"></script>